/****/
/****/
/*******/
/***********/
/*   theme1 ********/
[data-default-color="theme1"] .color1 {
  color: #0080ff;
}

[data-default-color="theme1"] .color2 {
  color: #13c0ff;
}

[data-default-color="theme1"] .background1 {
  background-color: #0080ff;
}

[data-default-color="theme1"] .background2 {
  background-color: #13c0ff;
}

[data-default-color="theme1"] .gradient {
  background: -webkit-gradient(linear, right top, left top, from(#0080ff), to(#13c0ff));
  background: linear-gradient(to left, #0080ff, #13c0ff);
}

[data-default-color="theme1"] .rgb1 {
  background-color: rgba(0, 127, 255, 0.8);
}

[data-default-color="theme1"] .rgb2 {
  background-color: rgba(20, 192, 255, 0.8);
}

[data-default-color="theme1"] .border1 {
  border: 1px solid #13c0ff;
}

[data-default-color="theme1"] .moree .skills .progresss ul li .prog_bar .percent span:nth-of-type(2) {
  border-top: 5px solid #13c0ff;
}

[data-default-color="theme1"] .moree .my-cv:hover {
  background: #13c0ff;
  color: #fff;
}

[data-default-color="theme1"] .signup button:hover {
  background: #13c0ff;
  color: #fff;
}

[data-default-color="theme1"] .themes-menu .theme-click .i22 {
  color: #13c0ff;
}

[data-default-color="theme1"] .menu a:hover {
  background: #0080ff;
}

[data-default-color="theme1"] #toggle:checked ~ .click span:nth-of-type(1) {
  background: #13c0ff !important;
  color: #fff;
}

[data-default-color="theme1"] #toggle:checked ~ .click span:last-child {
  background: #13c0ff !important;
  color: #fff;
}

[data-default-color="theme1"] .wellcome .social .icon:hover a {
  color: #000;
}

[data-default-color="theme1"] .menu a.active {
  background: #13c0ff;
  color: #fff !important;
}

[data-default-color="theme1"] #my-tabs li.inactive:hover {
  color: #13c0ff;
  border: 1px solid #13c0ff;
}

[data-default-color="theme1"] .services .carousel .carousel-indicators .active {
  background: #13c0ff;
}

[data-default-color="theme1"] .signup .custom-input input {
  border-bottom: 1px solid #13c0ff;
}

[data-default-color="theme1"] .signup textarea {
  border-bottom: 1px solid #13c0ff;
}

[data-default-color="theme1"] .signup textarea::-webkit-input-placeholder {
  color: #0080ff;
}

[data-default-color="theme1"] .signup textarea::-moz-input-placeholder {
  color: #0080ff;
}

[data-default-color="theme1"] .signup textarea::-o-input-placeholder {
  color: #0080ff;
}

[data-default-color="theme1"] .signup textarea::-ms-input-placeholder {
  color: #0080ff;
}

[data-default-color="theme1"] .signup textarea::input-placeholder {
  color: #0080ff;
}

[data-default-color="theme1"] .st0 {
  fill: rgba(0, 127, 255, 0.8);
}

[data-default-color="theme1"] .st1 {
  fill: #13c0ff;
}

[data-default-color="theme1"] .st2 {
  fill: #0080ff;
}

[data-default-color="theme1"] .gallery .item .overlay .over-text a:hover {
  background: #13c0ff;
  color: #fff;
}

[data-default-color="theme1"] .mixitup-control-active {
  background: #13c0ff;
  color: #fff;
  outline: none;
}

/************** end theme1 *********/
/*   theme2 ********/
[data-default-color="theme2"] .color1 {
  color: #FE2370;
}

[data-default-color="theme2"] .color2 {
  color: #FF4B68;
}

[data-default-color="theme2"] .background1 {
  background-color: #FE2370;
}

[data-default-color="theme2"] .background2 {
  background-color: #FF4B68;
}

[data-default-color="theme2"] .rgb1 {
  background-color: rgba(255, 75, 105, 0.8);
}

[data-default-color="theme2"] .rgb2 {
  background-color: rgba(254, 35, 112, 0.8);
}

[data-default-color="theme2"] .gradient {
  background: -webkit-gradient(linear, right top, left top, from(#FE2370), to(#FF4B68));
  background: linear-gradient(to left, #FE2370, #FF4B68);
}

[data-default-color="theme2"] .border1 {
  border: 1px solid #FF4B68;
}

[data-default-color="theme2"] .moree .skills .progresss ul li .prog_bar .percent span:nth-of-type(2) {
  border-top: 5px solid #FF4B68;
}

[data-default-color="theme2"] .moree .my-cv:hover {
  background: #FF4B68;
  color: #fff;
}

[data-default-color="theme2"] .signup button:hover {
  background: #FF4B68;
  color: #fff;
}

[data-default-color="theme2"] .themes-menu .theme-click .i22 {
  color: #FF4B68;
}

[data-default-color="theme2"] .menu a:hover {
  background: #FE2370;
}

[data-default-color="theme2"] #toggle:checked ~ .click span:nth-of-type(1) {
  background: #FF4B68 !important;
  color: #fff;
}

[data-default-color="theme2"] #toggle:checked ~ .click span:last-child {
  background: #FF4B68 !important;
  color: #fff;
}

[data-default-color="theme2"] .wellcome .social .icon:hover a {
  color: #000;
}

[data-default-color="theme2"] .menu a.active {
  background: #FF4B68;
  color: #fff !important;
}

[data-default-color="theme2"] #my-tabs li.inactive:hover {
  color: #FF4B68;
  border: 1px solid #FF4B68;
}

[data-default-color="theme2"] .services .carousel .carousel-indicators .active {
  background: #FF4B68;
}

[data-default-color="theme2"] .signup .custom-input input {
  border-bottom: 1px solid #FF4B68;
}

[data-default-color="theme2"] .signup textarea {
  border-bottom: 1px solid #FF4B68;
}

[data-default-color="theme2"] .signup textarea::-webkit-input-placeholder {
  color: #FE2370;
}

[data-default-color="theme2"] .signup textarea::-moz-input-placeholder {
  color: #FE2370;
}

[data-default-color="theme2"] .signup textarea::-o-input-placeholder {
  color: #FE2370;
}

[data-default-color="theme2"] .signup textarea::-ms-input-placeholder {
  color: #FE2370;
}

[data-default-color="theme2"] .signup textarea::input-placeholder {
  color: #0080ff;
}

[data-default-color="theme2"] .st0 {
  fill: rgba(255, 75, 105, 0.8);
}

[data-default-color="theme2"] .st1 {
  fill: #FF4B68;
}

[data-default-color="theme2"] .st2 {
  fill: #FE2370;
}

[data-default-color="theme2"] .gallery .item .overlay .over-text a:hover {
  background: #FF4B68;
  color: #fff;
}

[data-default-color="theme2"] .mixitup-control-active {
  background: #FF4B68;
  color: #fff;
  outline: none;
}

/************** end theme2 *********/
/*   theme3 ********/
[data-default-color="theme3"] .color1 {
  color: #4BC2C5;
}

[data-default-color="theme3"] .color2 {
  color: #3ca0a2;
}

[data-default-color="theme3"] .background1 {
  background-color: #4BC2C5;
}

[data-default-color="theme3"] .background2 {
  background-color: #3ca0a2;
}

[data-default-color="theme3"] .rgb1 {
  background-color: rgba(120, 254, 225, 0.8);
}

[data-default-color="theme3"] .rgb2 {
  background-color: rgba(75, 195, 197, 0.8);
}

[data-default-color="theme3"] .gradient {
  background: -webkit-gradient(linear, right top, left top, from(#4BC2C5), to(#3ca0a2));
  background: linear-gradient(to left, #4BC2C5, #3ca0a2);
}

[data-default-color="theme3"] .border1 {
  border: 1px solid #3ca0a2;
}

[data-default-color="theme3"] .moree .skills .progresss ul li .prog_bar .percent span:nth-of-type(2) {
  border-top: 5px solid #3ca0a2;
}

[data-default-color="theme3"] .moree .my-cv:hover {
  background: #3ca0a2;
  color: #fff;
}

[data-default-color="theme3"] .signup button:hover {
  background: #3ca0a2;
  color: #fff;
}

[data-default-color="theme3"] .themes-menu .theme-click .i22 {
  color: #3ca0a2;
}

[data-default-color="theme3"] .menu a:hover {
  background: #4BC2C5;
}

[data-default-color="theme3"] #toggle:checked ~ .click span:nth-of-type(1) {
  background: #3ca0a2 !important;
  color: #fff;
}

[data-default-color="theme3"] #toggle:checked ~ .click span:last-child {
  background: #3ca0a2 !important;
  color: #fff;
}

[data-default-color="theme3"] .wellcome .social .icon:hover a {
  color: #000;
}

[data-default-color="theme3"] .menu a.active {
  background: #3ca0a2;
  color: #fff !important;
}

[data-default-color="theme3"] #my-tabs li.inactive:hover {
  color: #3ca0a2;
  border: 1px solid #3ca0a2;
}

[data-default-color="theme3"] .services .carousel .carousel-indicators .active {
  background: #3ca0a2;
}

[data-default-color="theme3"] .signup .custom-input input {
  border-bottom: 1px solid #3ca0a2;
}

[data-default-color="theme3"] .signup textarea {
  border-bottom: 1px solid #3ca0a2;
}

[data-default-color="theme3"] .signup textarea::-webkit-input-placeholder {
  color: #4BC2C5;
}

[data-default-color="theme3"] .signup textarea::-moz-input-placeholder {
  color: #4BC2C5;
}

[data-default-color="theme3"] .signup textarea::-o-input-placeholder {
  color: #4BC2C5;
}

[data-default-color="theme3"] .signup textarea::-ms-input-placeholder {
  color: #4BC2C5;
}

[data-default-color="theme3"] .signup textarea::input-placeholder {
  color: #4BC2C5;
}

[data-default-color="theme3"] .st0 {
  fill: rgba(120, 254, 225, 0.8);
}

[data-default-color="theme3"] .st1 {
  fill: #3ca0a2;
}

[data-default-color="theme3"] .st2 {
  fill: #4BC2C5;
}

[data-default-color="theme3"] .gallery .item .overlay .over-text a:hover {
  background: #3ca0a2;
  color: #fff;
}

[data-default-color="theme3"] .mixitup-control-active {
  background: #3ca0a2;
  color: #fff;
  outline: none;
}

/************** end theme3 *********/
/*   theme4 ********/
[data-default-color="theme4"] .color1 {
  color: #f3759f;
}

[data-default-color="theme4"] .color2 {
  color: #F48FB1;
}

[data-default-color="theme4"] .background1 {
  background-color: #f3759f;
}

[data-default-color="theme4"] .background2 {
  background-color: #F48FB1;
}

[data-default-color="theme4"] .rgb1 {
  background-color: rgba(244, 143, 177, 0.8);
}

[data-default-color="theme4"] .rgb2 {
  background-color: rgba(243, 117, 159, 0.8);
}

[data-default-color="theme4"] .gradient {
  background: -webkit-gradient(linear, right top, left top, from(#f3759f), to(#F48FB1));
  background: linear-gradient(to left, #f3759f, #F48FB1);
}

[data-default-color="theme4"] .border1 {
  border: 1px solid #F48FB1;
}

[data-default-color="theme4"] .moree .skills .progresss ul li .prog_bar .percent span:nth-of-type(2) {
  border-top: 5px solid #F48FB1;
}

[data-default-color="theme4"] .moree .my-cv:hover {
  background: #F48FB1;
  color: #fff;
}

[data-default-color="theme4"] .signup button:hover {
  background: #F48FB1;
  color: #fff;
}

[data-default-color="theme4"] .themes-menu .theme-click .i22 {
  color: #F48FB1;
}

[data-default-color="theme4"] .menu a:hover {
  background: #f3759f;
}

[data-default-color="theme4"] #toggle:checked ~ .click span:nth-of-type(1) {
  background: #F48FB1 !important;
  color: #fff;
}

[data-default-color="theme4"] #toggle:checked ~ .click span:last-child {
  background: #F48FB1 !important;
  color: #fff 4;
}

[data-default-color="theme4"] .wellcome .social .icon:hover a {
  color: #000;
}

[data-default-color="theme4"] .menu a.active {
  background: #F48FB1;
  color: #fff !important;
}

[data-default-color="theme4"] #my-tabs li.inactive:hover {
  color: #F48FB1;
  border: 1px solid #F48FB1;
}

[data-default-color="theme4"] .services .carousel .carousel-indicators .active {
  background: #F48FB1;
}

[data-default-color="theme4"] .signup .custom-input input {
  border-bottom: 1px solid #F48FB1;
}

[data-default-color="theme4"] .signup textarea {
  border-bottom: 1px solid #F48FB1;
}

[data-default-color="theme4"] .signup textarea::-webkit-input-placeholder {
  color: #f3759f;
}

[data-default-color="theme4"] .signup textarea::-moz-input-placeholder {
  color: #f3759f;
}

[data-default-color="theme4"] .signup textarea::-o-input-placeholder {
  color: #f3759f;
}

[data-default-color="theme4"] .signup textarea::-ms-input-placeholder {
  color: #f3759f;
}

[data-default-color="theme4"] .signup textarea::input-placeholder {
  color: #0080ff;
}

[data-default-color="theme4"] .st0 {
  fill: rgba(244, 143, 177, 0.8);
}

[data-default-color="theme4"] .st1 {
  fill: #F48FB1;
}

[data-default-color="theme4"] .st2 {
  fill: #f3759f;
}

[data-default-color="theme4"] .gallery .item .overlay .over-text a:hover {
  background: #F48FB1;
  color: #fff;
}

[data-default-color="theme4"] .mixitup-control-active {
  background: #F48FB1;
  color: #fff;
  outline: none;
}

/************** end theme4 *********/
/*   theme5 ********/
[data-default-color="theme5"] .color1 {
  color: #00a03e;
}

[data-default-color="theme5"] .color2 {
  color: #12ca59;
}

[data-default-color="theme5"] .background1 {
  background-color: #00a03e;
}

[data-default-color="theme5"] .background2 {
  background-color: #12ca59;
}

[data-default-color="theme5"] .rgb1 {
  background-color: rgba(18, 202, 89, 0.8);
}

[data-default-color="theme5"] .rgb2 {
  background-color: rgba(0, 160, 61, 0.8);
}

[data-default-color="theme5"] .gradient {
  background: -webkit-gradient(linear, right top, left top, from(#00a03e), to(#12ca59));
  background: linear-gradient(to left, #00a03e, #12ca59);
}

[data-default-color="theme5"] .border1 {
  border: 1px solid #12ca59;
}

[data-default-color="theme5"] .moree .skills .progresss ul li .prog_bar .percent span:nth-of-type(2) {
  border-top: 5px solid #12ca59;
}

[data-default-color="theme5"] .moree .my-cv:hover {
  background: #12ca59;
  color: #fff;
}

[data-default-color="theme5"] .signup button:hover {
  background: #12ca59;
  color: #fff;
}

[data-default-color="theme5"] .themes-menu .theme-click .i22 {
  color: #12ca59;
}

[data-default-color="theme5"] .menu a:hover {
  background: #00a03e;
}

[data-default-color="theme5"] #toggle:checked ~ .click span:nth-of-type(1) {
  background: #12ca59 !important;
  color: #fff;
}

[data-default-color="theme5"] #toggle:checked ~ .click span:last-child {
  background: #12ca59 !important;
  color: #fff;
}

[data-default-color="theme5"] .wellcome .social .icon:hover a {
  color: #000;
}

[data-default-color="theme5"] .menu a.active {
  background: #12ca59;
  color: #fff  !important;
}

[data-default-color="theme5"] #my-tabs li.inactive:hover {
  color: #12ca59;
  border: 1px solid #12ca59;
}

[data-default-color="theme5"] .services .carousel .carousel-indicators .active {
  background: #12ca59;
}

[data-default-color="theme5"] .signup .custom-input input {
  border-bottom: 1px solid #12ca59;
}

[data-default-color="theme5"] .signup textarea {
  border-bottom: 1px solid #12ca59;
}

[data-default-color="theme5"] .signup textarea::-webkit-input-placeholder {
  color: #00a03e;
}

[data-default-color="theme5"] .signup textarea::-moz-input-placeholder {
  color: #00a03e;
}

[data-default-color="theme5"] .signup textarea::-o-input-placeholder {
  color: #00a03e;
}

[data-default-color="theme5"] .signup textarea::-ms-input-placeholder {
  color: #00a03e;
}

[data-default-color="theme5"] .signup textarea::input-placeholder {
  color: #00a03e;
}

[data-default-color="theme5"] .st0 {
  fill: rgba(18, 202, 89, 0.8);
}

[data-default-color="theme5"] .st1 {
  fill: #12ca59;
}

[data-default-color="theme5"] .st2 {
  fill: #00a03e;
}

[data-default-color="theme5"] .gallery .item .overlay .over-text a:hover {
  background: #12ca59;
  color: #fff;
}

[data-default-color="theme5"] .mixitup-control-active {
  background: #12ca59;
  color: #fff;
  outline: none;
}

/************** end theme5 *********/
#theme-1 {
  background: #13c0ff;
}

#theme-1 div {
  background: #0080ff;
}

#theme-2 {
  background: #FF4B68;
}

#theme-2 div {
  background: #FE2370;
}

#theme-3 {
  background: #3ca0a2;
}

#theme-3 div {
  background: #4BC2C5;
}

#theme-4 {
  background: #F48FB1;
}

#theme-4 div {
  background: #f3759f;
}

#theme-5 {
  background: #12ca59;
}

#theme-5 div {
  background: #00a03e;
}

[data-dark="dark"] .background-dark {
  background: #000;
}

[data-dark="dark"] .color-dark {
  background: #000;
}

[data-dark="dark"] .background-light {
  background: #fff;
}

[data-dark="dark"] .color-light {
  color: #fff;
}

[data-dark="dark"] .moree .basic p {
  color: #ddd0d0;
}

[data-dark="dark"] #my-tabs li.inactive {
  border: 1px solid #fff;
  color: #fff;
}

[data-dark="dark"] .services .carousel .carousel-item p {
  color: #fff;
}

[data-dark="dark"] .signup .signup-content {
  background: #000;
  border: 1px solid #fff;
}

[data-dark="dark"] footer {
  color: #000;
}

[data-dark="dark"] .themes-menu {
  border: 1px solid #fff;
}

[data-dark="dark"] .services .carousel .carousel-item i {
  color: #fff;
}

[data-dark="dark"] .mix {
  -webkit-box-shadow: 3px 3px 10px -2px rgba(255, 255, 255, 0.3);
          box-shadow: 3px 3px 10px -2px rgba(255, 255, 255, 0.3);
}

.mix {
  -webkit-box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.3);
}

.wrap {
  max-width: 600px;
  margin: 50px auto;
}

.type-wrap {
  margin: 10px auto;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 5px;
  border: #CCC 1px solid;
}

/* services */
.services .sevices-slider .slick-dots li:nth-child(1) button {
  background: #0080ff;
}

.services .sevices-slider .slick-dots li:nth-child(2) button {
  background: #FE2370;
}

.services .sevices-slider .slick-dots li:nth-child(3) button {
  background: #4BC2C5;
}

.services .sevices-slider .slick-dots li:nth-child(4) button {
  background: #f3759f;
}

.services .sevices-slider .slick-dots li:nth-child(5) button {
  background: #00a03e;
}

.services .sevices-slider .slick-dots li:nth-child(6) button {
  background: #000;
}

#slick-slide00 {
  background: #0080ff;
}

#slick-slide01 {
  background: #FE2370;
}

#slick-slide02 {
  background: #4BC2C5;
}

#slick-slide03 {
  background: #f3759f;
}

#slick-slide04 {
  background: #00a03e;
}

#slick-slide05 {
  background: #000;
}

/* end services */
/*# sourceMappingURL=colors.css.map */