@font-face {
  src: url(../fonts/Cairo-Regular.ttf);
  font-family: cairo-font;
}

body {
  font-family: cairo-font , sans-serif;
}

.typed-cursor {
  display: none;
}

/**************************** strat loading ********/
.loading {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  background: #fff;
  top: 0;
  left: 0;
  overflow: hidden;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #26A69A;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

/**************************** end loading ************/
/*********** start themes *******/
.themes-menu {
  height: 160px;
  width: 100px;
  background: #fff;
  position: fixed;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  right: 0;
  bottom: 50%;
  transform: translate(102%, 50%);
  -o-transform: translate(102%, 50%);
  -webkit-transform: translate(102%, 50%);
  -ms-transform: translate(102%, 50%);
  -moz-transform: translate(102%, 50%);
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  z-index: 99999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.46);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.46);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.46);
}

.themes-menu span {
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 5px;
  font-size: 14px;
}

.themes-menu .list {
  margin: auto;
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.themes-menu .list div {
  width: 40px;
  height: 20px;
  cursor: pointer;
  margin: 2px auto;
  position: relative;
  border-radius: 5px;
}

.themes-menu .list div div {
  position: absolute;
  top: -2px;
  right: 0;
  width: 20px;
  border-radius: 2px 5px;
}

.themes-menu .list #theme-1 {
  background: #ff125a;
}

.themes-menu .list #theme-1 div {
  background: #00c9fd;
}

.themes-menu .list #theme-2 {
  background: #00c853;
}

.themes-menu .list #theme-2 div {
  background: #FFB74D;
}

.themes-menu .list #theme-3 {
  background: #FF7043;
}

.themes-menu .list #theme-3 div {
  background: #9575CD;
}

.themes-menu .list #theme-4 {
  background: #F48FB1;
}

.themes-menu .list #theme-4 div {
  background: #26A69A;
}

.themes-menu .list #theme-5 {
  background: #9E9E9E;
}

.themes-menu .list #theme-5 div {
  background: #AFB42B;
}

.themes-menu .theme-click {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  position: fixed;
  top: -30px;
  cursor: pointer;
  right: 50%;
  -webkit-transform: translate(-175%);
          transform: translate(-175%);
  background: #fff;
  z-index: 99999;
  border: none;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.themes-menu .theme-click .i1, .themes-menu .theme-click .i2 {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  line-height: 30px;
  z-index: 999910;
  color: #000;
  font-size: 14px;
}

.themes-menu .theme-click .i2 {
  z-index: 999911;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
}

.themes-menu .theme-click .i22 {
  transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

.themes-menu .theme-click-1 {
  transform: translate(50%);
  -o-transform: translate(50%);
  -webkit-transform: translate(50%);
  -ms-transform: translate(50%);
  -moz-transform: translate(50%);
}

.themes-1 {
  transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
}

/*********** end themes *******/
/****************************** start nav **************/
.navbar {
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 100;
  top: 0;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.24);
}

.navbar .lan {
  font-size: 12px;
}

.navbar .lan a {
  color: #F48FB1;
  padding: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navbar .lan a:hover {
  color: #fff;
  text-decoration: none;
  background: #26A69A;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.menu a:hover {
  background: #26A69A;
  color: #fff;
}

#toggle {
  display: none;
}

/****************************** end nav *****************/
/***************************** start wellcomee ************/
.wellcome {
  height: 100vh;
  background-image: url(../img/theme-4.svg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.wellcome .wellcome-text {
  margin-top: 100px;
  text-align: center;
}

.wellcome .wellcome-text #pp {
  font-weight: bold;
}

.wellcome .wellcome-text .ppp {
  color: #000;
  font-weight: bold;
}

.wellcome .wellcome-text .ppp span:nth-of-type(1) {
  font-size: 65px;
}

.wellcome .wellcome-text .ppp span:nth-of-type(1) span {
  color: #F48FB1;
}

.wellcome .wellcome-text .ppp span:nth-of-type(2) {
  font-size: 50px;
  font-weight: 900;
}

.wellcome .social {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.wellcome .social .icon {
  display: inline-block;
  background: #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 2px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.wellcome .social .icon:hover {
  background: #26A69A;
}

.wellcome .social .icon a {
  font-size: 35px;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.wellcome .social .icon a:hover {
  color: #fff;
}

/******************************** end wellcome*************/
/***************** start about me ***********************/
.moree {
  background: #141313;
  border-radius: 15px;
  border: 1px solid #26A69A;
  position: relative;
  -webkit-transform: translate(0%, 8%);
          transform: translate(0%, 8%);
  margin: 80px 15px;
}

.moree img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid #26A69A;
  position: absolute;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  -ms-transform: translate(-50%, -90%);
}

.moree .con {
  text-align: center;
  margin-top: 70px;
}

.moree .con h1 {
  color: #F48FB1;
  font-weight: bold;
  font-size: 50px;
  padding-top: 25px;
}

.moree .con p {
  font-weight: bold;
  color: #fff;
}

.moree .con button {
  padding: 15px 25px 15px 25px;
  font-weight: bold;
  border: 4px solid #81ee8e;
  border-radius: 15px;
  background: #F48FB1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #fff;
}

.moree .con button:hover {
  background: none;
  border: 4px solid #F48FB1;
}

.moree .basic h2 {
  text-align: center;
  font-weight: bold;
  color: #26A69A;
}

.moree .basic h4 {
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
}

.moree .basic p {
  color: rgba(243, 245, 243, 0.8);
}

.moree .skills h2 {
  text-align: center;
  font-weight: bold;
  color: #26A69A;
}

.moree .skills .progresss ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.moree .skills .progresss ul li {
  margin: 20px 0;
}

.moree .skills .progresss ul li h4 {
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
  padding-left: 25px;
}

.moree .skills .progresss ul li .prog_bar {
  background: #DDD;
  height: 15px;
  position: relative;
}

.moree .skills .progresss ul li .prog_bar .percent {
  background: #F48FB1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}

.moree .skills .progresss ul li .prog_bar .percent span:nth-of-type(1) {
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-weight: bold;
  background: #26A69A;
  position: absolute;
  right: -20px;
  bottom: 24px;
  border-radius: 50%;
  border-radius: 50%;
}

.moree .skills .progresss ul li .prog_bar .percent span:nth-of-type(2) {
  position: absolute;
  right: -5px;
  bottom: 20px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #26A69A;
}

.moree .skills .progresss ul li .prog_bar .percent98 {
  width: 98%;
}

.moree .skills .progresss ul li .prog_bar .percent86 {
  width: 86%;
}

.moree .skills .progresss ul li .prog_bar .percent89 {
  width: 89%;
}

.moree .skills .progresss ul li .prog_bar .percent76 {
  width: 76%;
}

.moree .skills .progresss ul li .prog_bar .percent83 {
  width: 83%;
}

.moree .skills .progresss ul li .prog_bar .percent81 {
  width: 81%;
}

.moree .skills .progresss ul li .prog_bar .percent80 {
  width: 80%;
}

.moree .skills .progresss ul li .prog_bar .percent85 {
  width: 85%;
}

.moree .skills .progresss ul li .prog_bar .prog_width {
  width: 0;
}

.moree .my-cv {
  text-align: center;
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: #F48FB1;
  overflow: hidden;
  margin: 40px auto 20px auto;
}

.moree .my-cv a {
  background: #26A69A;
  color: #fff;
  width: 180px;
  display: block;
  margin: auto;
  height: 180px;
  letter-spacing: 2px;
  line-height: 180px;
  text-decoration: none;
  border: 1px solid #fff;
  -webkit-transition: all .2s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border-radius: 50%;
  position: absolute;
  left: 20%;
  bottom: 20%;
  font-size: 14px;
  z-index: 2;
  font-weight: bold;
}

.moree .my-cv a:hover + .overlay {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  opacity: 1;
}

.moree .my-cv a:hover {
  background: #F48FB1;
}

.moree .my-cv .overlay {
  position: absolute;
  background: #26A69A;
  width: 45px;
  opacity: 0;
  display: block;
  left: 43%;
  bottom: 43%;
  height: 45px;
  z-index: 1;
  -webkit-transition: all 4s ease-in-out;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/****************** end about me **********************************/
/******************** start galry ***********/
.gallery {
  margin-top: 100px;
  width: 100%;
  overflow: hidden;
}

.gallery h1 {
  color: #F48FB1;
  margin: 30px 0 0 0;
  letter-spacing: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.gallery p {
  font-weight: 600;
  padding: 10px 0;
  color: #26A69A;
  text-align: center;
}

.gallery .item {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.gallery .item img {
  width: 100%;
  height: 100%;
}

.gallery .item .overlay {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(38, 166, 154, 0.5);
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.gallery .item .overlay .over-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  display: -ms-grid;
  display: grid;
}

.gallery .item .overlay .over-text h4 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.gallery .item .overlay .over-text span {
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  font-size: 18px;
}

.gallery .item .overlay .over-text a {
  background: #fff;
  text-decoration: none;
  font-size: 30px;
  width: 70px;
  line-height: 70px;
  height: 70px;
  font-weight: 600;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #000;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  margin: auto;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.439216);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.439216);
}

.gallery .item .overlay .over-text a:hover {
  background: #F48FB1;
  color: #26A69A;
}

.gallery .item:hover .overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

/******************end gallery */
/***************** start sevices ********************/
.services {
  margin: 40px 0;
  position: relative;
}

.services h2 {
  padding: 15px 0;
  color: #26A69A;
}

.services h1 {
  color: #F48FB1;
  font-weight: bold;
  font-size: 50px;
}

.services h5 {
  padding-bottom: 15px;
  color: #000;
}

.services .carousel {
  text-align: center;
  height: 400px;
}

.services .carousel .carousel-item {
  padding-top: 15px;
}

.services .carousel .carousel-item i {
  border: 5px dashed;
  width: 170px;
  height: 170px;
  line-height: 170px;
  border-radius: 50%;
  color: #26A69A;
  font-weight: bold;
  font-size: 90px;
  text-align: center;
}

.services .carousel .carousel-item h3 {
  color: #26A69A;
  font-weight: 600;
  padding-top: 15px;
}

.services .carousel .carousel-item p {
  color: #000;
  font-weight: 600;
  padding-top: 10px;
  margin-bottom: 65px;
}

.services .carousel .carousel-indicators {
  position: absolute;
  bottom: 0;
}

.services .carousel .carousel-indicators .active {
  background: #26A69A;
  margin-top: -5px;
}

.services .carousel .carousel-indicators li {
  transition: all .3s ease-in-out;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  background: #F48FB1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

/********************** end sevicese ***********/
/* sign up */
.signup {
  width: 100%;
  text-align: center;
  position: relative;
}

.signup::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
}

.signup h1 {
  font-size: 35px;
  font-weight: bold;
  color: #F48FB1;
  padding-top: 40px;
}

.signup h3 {
  color: #26A69A;
}

.signup .signup-content {
  z-index: 1;
  border: 1px solid;
  border-radius: 10px;
  overflow: hidden;
  color: #000;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 55px;
  padding: 25px 10px;
  height: 440px;
}

.signup .signup-input {
  width: 75%;
  height: 35px;
  font-size: 15px;
  margin: 15px auto;
  font-size: 17px;
}

.signup .custom-input {
  width: 80%;
  position: relative;
  padding: 5px;
  margin: 0 auto;
}

.signup .custom-input label {
  position: absolute;
  left: 15%;
  top: 30px;
  font-size: 17px;
  color: #F48FB1;
  z-index: -1;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.signup .custom-input input {
  height: 45px;
  padding: 5px 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #26A69A;
}

.signup .custom-input input:focus {
  outline: none;
}

.signup .custom-input input:focus + label {
  position: absolute;
  left: 13%;
  top: -10px;
  font-size: 20px;
  color: #F48FB1;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
}

.signup .custom-input .has-data {
  position: absolute;
  left: 13%;
  top: -10px;
  font-size: 20px;
  color: #26A69A;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.signup textarea {
  width: 60%;
  height: 130px;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #26A69A;
  background: transparent;
  margin: 0 50px;
}

.signup textarea:focus {
  outline: none;
}

.signup textarea::-webkit-input-placeholder {
  color: #F48FB1;
}

.signup textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #F48FB1;
}

.signup textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #F48FB1;
}

.signup textarea:-ms-input-placeholder {
  color: #F48FB1;
}

.signup button {
  padding: 10px 40px;
  font-size: 25px;
  font-weight: 600;
  background: #26A69A;
  border: none;
  border-radius: 10px;
  color: #fff;
  margin-top: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.signup button:hover {
  background: #000;
}

/******************************* media ******************/
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .navbar .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px auto;
  }
  .menu a {
    margin: 5px;
    padding: 5px;
    color: #000;
    font-size: 14px;
    display: inherit;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
  }
}

@media only screen and (max-width: 768px) {
  .navbar .menu {
    width: 150px;
    background: #fff;
    text-align: center;
    opacity: 0;
    transition: all 1s ease-in-out;
    position: fixed;
    right: 0;
    max-height: 85vh;
    overflow-y: auto;
    z-index: 90;
    top: 50px;
    padding: 30px;
    transform: matrix(1, 0, 0.7, 1, 1000, 0);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 26% 100%, 0 64%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 26% 100%, 0 64%);
    -webkit-transform: matrix(1, 0, 0.7, 1, 1000, 0);
    -moz-transform: matrix(1, 0, 0.7, 1, 1000, 0);
    -ms-transform: matrix(1, 0, 0.7, 1, 1000, 0);
    -o-transform: matrix(1, 0, 0.7, 1, 1000, 0);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
  .menu a {
    color: #000;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inherit;
    text-decoration: none;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
  }
  .click {
    position: absolute;
    right: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .click span {
    height: 2px;
    width: 25px;
    background: #000;
    display: inline-block;
    position: absolute;
    margin: -4px 6.5px;
    border-radius: 15px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .click span:nth-of-type(1) {
    top: 13px;
    left: 0;
  }
  .click span:nth-of-type(2) {
    top: 22px;
    left: 0;
  }
  .click span:last-child {
    top: 30px;
    left: 0;
  }
  #toggle:checked ~ .menu {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  .click:hover span:nth-of-type(1) {
    top: 11px;
  }
  .click:hover span:nth-of-type(3) {
    top: 33px;
  }
  #toggle:checked ~ .click span:nth-of-type(2) {
    background: transparent;
  }
  #toggle:checked ~ .click span:nth-of-type(1) {
    top: 22px;
    left: 0px;
    transform: rotate(-135deg);
    background: #26A69A;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
  }
  #toggle:checked ~ .click span:last-child {
    top: 22px;
    left: 0px;
    background: #26A69A;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
  }
  /**************** wellcome ********/
  .wellcome {
    background-image: url(../img/theme-4mob.svg);
  }
  .wellcome .wellcome-text .ppp :nth-of-type(1) {
    font-size: 45px;
  }
  .wellcome .social .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .wellcome .social .icon a {
    font-size: 25px;
  }
  /**************** end wellcome *************/
  /*************** gallery */
  .gallery {
    margin-top: 150px;
  }
  /***************** end gallery *****/
  /******************* services **********/
  .services .carousel .carousel-item i {
    height: 130px;
    width: 130px;
    line-height: 130px;
    font-size: 75px;
  }
  .services h5 {
    font-size: 16px;
  }
  .services .carousel .carousel-item p {
    padding-top: 0;
  }
  /******************* end services **********/
  .signup .signup-content {
    margin-left: 15px;
    margin-right: 15px;
  }
  .moree {
    margin: 40px 15px;
  }
}

@media only screen and (max-width: 479px) {
  .moree .my-cv {
    width: 150px;
    height: 150px;
  }
  .moree .my-cv a {
    width: 90px;
    height: 90px;
    line-height: 90px;
  }
}

/********************************* media ******************/
/*# sourceMappingURL=theme-4.css.map */